---
---

@import "main";

html,
body {
    font-family: "Times New Roman", Times, serif !important;
}

.post-content,
#main-wrapper,
#sidebar,
#topbar,
.sidebar,
.nav-link,
.site-title,
.post-title,
h1, h2, h3, h4, h5, h6 {
    font-family: "Times New Roman", Times, serif !important;
}

#avatar {
    display: none;
}